.legends {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 45px;
    margin-top: -24px;
    margin-bottom: 40px;
    font-size: 13px;



}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.legends .selectedColor {
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
    border-radius: 17px;
    width: 25px;
    height: 25px;
}

.legends .availableColor {
    background: #C3CFD9;
    border: 1px solid #7B8B99;
    border-radius: 17px;
    width: 25px;
    height: 25px;
}

.legends .unavailableColor {
    background: #FBE192;
    border: 1px solid #F7C52B;
    border-radius: 17px;
    width: 25px;
    height: 25px;
}